<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row"> 

      <div calss="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            FIGURING
            <br />
            OUT
            <br />
            LIFE
          </div>
        <% end %>
      </div>

      <div class="col-4 slogan">
        WISDOM IN A QUOTE - TAKE IT OR LEAVE IT
      </div>

      <div class="col-5 links">
        <%= link_to 'Contribute', new_quotes_path %>
        <%= link_to 'About', '#' %> 
      </div>

    </header>

    <hr/>
    
    <br class="clear" />
    
    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
          </div>

          <div class="col-6 footer-blurb">
            Created for your advice by <a href="https://adenmengistie.netlify.com/"> Aden Mengistie</a><br />
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
